<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/carrucel.css">
</head>
<body>
<div id="carrucelpc" class="carrucelpc">
    <div class="container">
        <div class="content">
            <div class="introduce">
                <div class="wrapper">
                    <span>
                        <h5 class="categoria" style="--idx: 0"></h5>
                    </span>
                    <span>
                        <h1 class="tittle" style="--idx: 1"></h1>
                    </span>
                    <span>
                        <p class="describe" style="--idx: 2"></p>
                    </span>
                    <span>
                        <p class="price" style="--idx: 3"></p>
                    </span>
                    <span>
                        <button class="discover-button" style="--idx: 4"></button>

                    </span>
                </div>
            </div>
            <div class="thumbnail-list">
                <div class="wrapper">
                    <!-- <div class="thumbnail">
                        <img src="" alt="">
                    </div> -->
                </div>
            </div>
        </div>

        <div class="navigation">
            <button class="next-button">Siguiente</button>
            <span class="line"></span>
            <span class="ordinal-number"></span>
        </div>
    </div>
</div>

<!-- carrucel movil -->
<div id="carousel">
    <img id="carousel-img" src="" alt="Carousel Image">
    <div id="prev">&lt;</div>
    <div id="next">&gt;</div>
</div>

    <script src="/js/index.js"></script>
</body>
</html>