<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <title>Document</title>
</head>
<body>

    <nav class="navbar">
        <div class=" left-section">
            <img class="logo" src="/img/logo.png" alt=""> 
            <p class="tittl">AJOLOTICS</p>
        </div>

        <div class="right-section">
            <a href="/courses/show">Inicio</a>
            <!-- <a href="/productos">Categorias</a> -->
            <div class="dropdown">
                <a class="dropbtn"><%= userUsuario %></a>
                <div class="dropdown-content">
                    <a href="/users/lista/compras">Mis cursos</a>
                    <a href="/users/lista/suscripciones">Historial de suscripciones</a>
                    <a href="/users/edit/<%= userId %>">Editar Información</a>
                </div>
            </div>
            <a href="/logout">Cerrar Sesion</a>
        </div>
    </nav>

    
</body>
</html>