<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <title>Document</title>
</head>
<body>

    <nav class="navbar admn">
        <div class=" left-section">
            <img class="logo" src="/img/logo.png" alt="Logo"> 
            <p class="tittl">AJOLOTICS</p>
        </div>

        <div class="right-section">
            <a href="/courses/show">Inicio</a>
            <a href="/logs">Logs </a>
            <a href="/admin/courses">Lista de Cursos </a>
            <a href="/courses/create">Agregar Curso </a>
            <a href="/users/show">Usuarios Registrados</a>
            <a href="/logout">Cerrar sesion</a>
        </div>
    </nav>

    
</body>
</html>